<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Interval Server</display-name>
	<servlet>
		<servlet-name>Interval Server Application</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.resourceConfigClass</param-name>
			<param-value>com.sun.jersey.api.core.PackagesResourceConfig</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>com.epimorphics.govData.URISets.intervalServer;
				com.epimorphics.govData.URISets.intervalServer.calendar;
				com.epimorphics.govData.URISets.intervalServer.gregorian;
				com.epimorphics.govData.URISets.intervalServer.govcalendar;
		</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Interval Server Application</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<env-entry>
		<env-entry-name>hard-base-uri</env-entry-name>
		<!-- <env-entry-value>http://reference.data.gov.uk/</env-entry-value> -->
		<env-entry-value>http://reference.data.gov.uk/</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
</web-app>
